body {
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 140%
}
.chat_box {
    display: flex;
    margin-left: 10px;
    margin-top: 13px;
}

.text {
    margin-top: 20px;
    text-align: left;
    margin-left: 12px;
    color: #bdbdbd;
  }

.message {
    margin-left: 8px;
    color: #fff;
}

.month {
    margin-top: 38px;
    text-align: left;
    margin-left: 12px;
    color: #bdbdbd;
}
