.input_message {
  margin-top: 120px;
  width: 73%;
  padding: 14px;
  margin-left: 10px;
  box-sizing: border-box;
  border: 1px solid #262626;
  border-radius: 8px;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 140%;
  background: no-repeat;
  background-image: url('../../../..//images/arrow-right-5.svg');
  background-position: right;
  background-origin: content-box;
  background-color: #f4f4f4;

}

.button_input {
    text-align: center;
}
