.body {
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 140%;
}

.chatgpt_button {
  display: flex;
}

.new_chat {
  margin-top: 30px;
  margin-left: 10px;
  display: block;
  width: 70%;
  border: none;
  background-color: #04aa6d;
  padding: 15px 40px;
  cursor: pointer;
  text-align: center;
  border: 2px solid black;
  border-radius: 7px;
  font-family: Montserrat;
  color: #fff;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.chatgpt_menu {
  display: block;
  border: none;
  padding: 10px 24px;
  cursor: pointer;
  text-align: center;
  border: 2px solid black;
  border-radius: 7px;
  background: no-repeat;
  background-image: url('../../../../images/menu.png');
  background-position: center;
  background-origin: content-box;
  background-color: #fff;
  margin-top: 30px;
  margin-left: 5px;
}

